{% extends "blog/base.html" %}
{% block title %} User_posts {% endblock title %}
{% block content %} 
 <h1 class='mb-3'> Posts by {{ view.kwargs.username}} ({{ page_obj.paginator.count }}) </h1>
{% for post in posts %}
  <div class="col-md-10 mt-4 myb-1">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary" href="{% url 'user-posts' post.author.username %} ">{{ post.author }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{ post.title|slice:30 }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ post.date_time }}</div>
                <p class="card-text mb-auto">{{ post.content|slice:200 }}...</p>
                <a href="{% url 'post_detail' post.id %}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block"  alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{ post.author.profile.image.url }}" data-holder-rendered="true">
          </div>
  </div>
  {% endfor %}


  {% comment %} pagination {% endcomment %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class= "btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class= "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
          <a class= "btn btn-info mb-4" href="?page={{num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class= "btn btn-outline-info mb-4" href="? page={{num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next%}
        <a class= "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
        <a class= "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %} 
   
{% endblock content%}